:root {
    --primary-color: #0a1118;
    --primary-color-highlight: #233D54;
    --bs-body-bg: #FBF0F6;
    --bs-body-font-family: 'Montserrat', sans-serif;
}

html {scroll-behavior: smooth;}

/*
* changing the links color below images
*/

a { color: var(--primary-color); }
a:hover { color: var(--primary-color); }


/*
* Custom container
*/
.container-custom{
    width: 100%;
    padding: 0 1rem;
    margin: 0 auto;

}

@media (min-width: 1200px) {
    .container-custom{ width: 1140px; }
}

@media (min-width: 1400px) {
    .container-custom{ width: 1340px; }
}

@media (min-width: 1600px) {
    .container-custom{ width: 1520px; }
}

/*
* Main Header
*/
.header {
    z-index: 2;
}


/*
* Flyout Navigation bar
*/
#navbar{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgb(255, 247, 231);
    z-index: 4;
}

.dropdown-nav__closeNavBtn{
    position: absolute;
    top: 20px;
    right: 16px;
    background-color: rgbA(255,255,255,0.6);
}

.dropdown-nav__container{
    height: 100vh;
    padding: 0 1rem;
}

/*
* Hero section
*/

.hero{
    position: relative;
    height: 100vh;
    background-color: var(--primary-color);
    overflow: hidden;
}

@media (min-width: 1400px) {
    .hero__heading {
        font-size: 3.2rem;
    }
}

.hero__video{
    position: absolute;
    top: 50%;
    left: 50%;
    right: 100%;
    min-width: 100%;
    min-height: 100vh;
    object-fit: cover;
    width: 300px;
    height: auto;
    z-index: 1;
    transform: translateX(-50%) translateY(-50%);
}

.hero__overlay{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--primary-color);
    opacity: 0.2;
    z-index: 1;
}

.hero__content{
    z-index: 1;
}

.hero__content-width{
    max-width: 540px;
}

.hero__scroll-btn{
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    z-index: 1;
    color: var(--bs-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.hero__scroll-btn:hover{
    color: var(--bs-light);
    opacity: 0.8;
}

.hero__scroll-btn .iconify{
    transition-delay: 0.8s;
    animation: bounce 1s infinite alternate;
}

@keyframes bounce {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-10px);
    }
}

/*
* Steps section
*/
.steps {
    padding-top: 40px;
    padding-bottom: 40px;
}

.steps__section-thumbnail {
    height: 240px;
    object-fit: cover;
    margin: 0 auto;
}

.steps--background{
    background-color: #ebe1e7;
}

.steps__content-width{
    max-width: 456px;
    margin: 0 auto;
}

@media (min-width: 544px) {
    .steps {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .steps__section-thumbnail {
        height: auto;
    }
}

/*
* footer
*/
.footer .border-highlight{
    border-top: 1px solid var(--primary-color-highlight);
}
